@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Commissioner;
    src: url(../assets/fonts/Commissioner-VariableFont_wght.ttf);
}
* {
    font-family: Commissioner, Arial, Helvetica, sans-serif !important;
    color: rgb(49, 49, 49);
}
.sidebar-items {
    @apply h-24 flex p-7 items-center cursor-pointer;
}
.sidebar-item-bg {
    width: 100% !important;
}
.plus-btn {
    background-image: url(../assets/icons/plus.png) !important;
    background-size: cover !important;
    width: 1.75rem !important;
    opacity: .5;
    overflow: hidden;
}
.plus-btn:hover {
    opacity: 1;
}
.plus-btn>* {
    opacity: 0 !important;
}

.ico-angle-left {
    background-image: url(../assets/icons/angle-left.png);
}
.ico-angle-right {
    background-image: url(../assets/icons/angle-right.png);
}
.ico-heart {
    background-image: url(../assets/icons/heart.png);
}
.ico-plus {
    background-image: url(../assets/icons/plus.png);
}
.ico-menu {
    background-image: url(../assets/icons/menu.png);
}

#banner {
    background-image: url(../assets/images/banner.png);
}
.gucci-banner {background-image: url(../assets/images/gucci/banner.jpg);}
.prada-banner {background-image: url(../assets/images/prada/banner.jpg);}
.chanel-banner {background-image: url(../assets/images/chanel/banner.jpg);}
.tiffany\.co-banner {background-image: url(../assets/images/tiffany.co/banner.jpg);}
.d\&g-banner {background-image: url(../assets/images/d&g/banner.jpg);}

.product-preview {
    height: 100% !important;
    opacity: 1 !important;
}

.transition-1\/5 {
    transition: 1.5s;   
}